<html>

<head>
    <style>
        body {
            background-color: #dfe394;
            color: #0e1642;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }

        h1 {
            font-size: 48px;
        }

        p, a {
            font-size: 24px;
        }

        a {
            color: #262696;
            font-weight: bold;
        }

        .container {
            max-width: 800px;
            margin: 100px auto;
        }
    </style>
</head>

<body>
    <div class="container">

       {% block container %}

       {% endblock %}
   
    </div>
</body>

</html>
